.container1_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sector1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-image {
    width: 40%;
    display: flex;
    /* position: relative; */
    align-items: center;
    justify-content: end;
    box-sizing: border-box;
    padding: 10px 0px 10px 10px;
}

.img-block-shadow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 88%;
    height: 160px;
}

.img-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    height: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://media.licdn.com/dms/image/v2/D4E22AQFiUeRzSY71cg/feedshare-shrink_800/B4EZOjME97HwAs-/0/1733609674025?e=2147483647&v=beta&t=2ckXwfNGAd-mWR9I2vspGbNJ6Y1YIVs3Pvhqz6qR5Uw') grey;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    box-shadow: 1px 1px 5px 2px gray;
}

.img-shadow {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 92%;
    height: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: 3px 3px 5px black;
}

.right-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    padding: 10px 20px;
}

.user-name {
    font-size: 22px;
    color: white;
    width: 100%;
    text-align: center;
}

.user-about {
    background-color: transparent;
    border: none;
    border-radius: none;
    box-shadow: none;
    font-size: 10px;
    color: rgb(230, 230, 230);
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
